:root {
    --c-brand: #2E2F42;
    --c-primary: #434455;
    --c-secondary: #4D5AE5;
    --c-primary-light: #8E8F99;
    --c-background: #F4F4FD;
    --c-background-light: #FFFFFF;
    --c-header: #E7E9FC;
    --c-hover: #404BBF;
    --c-logo: #4d5ae5;
    --f-family: 'Roboto';
    --f-family-primary: 'Raleway';
    --c-footer-hover: #31D0AA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

header {
    display: block;
    border-bottom: 1px solid var(--c-header);
    width: 1440px;
    height: 72px;

}


body {
    font-family: var(--f-family), sans-serif;
    color: var(--c-primary);
    background-color: var(--c-background-light);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    font-family: inherit;
}

.container {
    max-width: 1158px;
    margin: 0 auto;

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/*Header*/

.header {
    border-bottom: 1px solid var(--c-header);
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-inner {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.nav-list {
    
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-grow: 1;
    padding: 0;

}


.header-menu {
    display: flex;
    align-items: center;
    max-width: 452px;
}

.logo {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    color: var(--c-logo);
    font-family: var(--f-family-primary), sans-serif;
    text-transform: uppercase;
    max-width: 115px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;

}

.logo .web {
    color: var(--c-secondary);
    text-decoration: none;
}

.logo .studio {
    color: var(--c-brand);
    text-decoration: none;
}



.nav-link {
    color: var(--c-brand);
    position: relative;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.current {
    position: relative;
    color: var(--c-hover);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-hover);
}





.nav-link:hover {
    color: var(--c-hover);
}

.nav-link:focus {
    color: var(--c-hover);
}

address {
    margin-left: auto;
    width: auto;
}

.contact-list {
    display: flex;
    font-style: normal;
    justify-content: center;
    gap: 40px;
}

.nav-contacts {
    color: var(--c-primary);
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts:hover,
.nav-contacts:focus {
    color: var(--c-hover);

}


/*Hero section*/

.hero-section {
    position: relative;
    background-image: url('../images/hero-image/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 1440px;
    background-color: var(--c-brand);
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image/hero-image.jpg');
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
 }

.hero-title {
    position: relative;
    z-index: 3;
    
    max-width: 496px;
    color:#FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}


.button-primary {
    position: relative;
    z-index: 3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 16px 32px;
    align-items: center;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-color: var(--c-logo);
    margin: 0 auto;
    font-family: inherit;
    color: #FFFFFF;
    background-color: var(--c-secondary);
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: 0.04em;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    gap: 10px;
}

.button-primary:hover,
.button-primary:focus {
    background-color: var(--c-hover);
}

/*Solution section*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.solution-icon-item {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 8px;
}

.solution-icon {
    position: relative;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--c-primary-light);
    background-color: var(--c-background);
    max-width: 100%;
    height: 112px;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution-content {
    padding: 120px 0;
}

.solution-list {
    display: flex;
    padding: 0;
    gap: 24px;
    
}

.solution-block {
    width: calc((100% - 72px) / 4);
}

.solution-block:not(:last-child) {
    margin-right: 0;
}

.solution-title {
    margin-bottom: 8px;
    color: var(--c-brand);
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 24px;
 
}

.solution-text {

    color: var(--c-primary);
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 400;
    line-height: 24px;
}

/*Our team section*/
.team {
    background-color: var(--c-background);
}

.team-inner {
    padding: 0 15px;
}

.team-member,
.member-title,
.work-text {
    background-color: var(--c-background-light);
}

.team-title {
    color: var(--c-brand);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    padding: 0;
    justify-items: center;
    text-align: center;
    gap: 24px;
    
}

.team-member {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-content {
    padding: 32px 0;
    max-width: 232px;
    margin: auto;
    
}

.member-title {
    color: var(--c-brand);
    background-color: var(--c-background-light);
    font-size: 20px;
    letter-spacing: 0.72px;
    line-height: 1.2;    
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.work-text {
    color: var(--c-primary);
    background-color: var(--c-background-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-icon-list {
    flex-basis: calc((100%-72px)/4);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 232px;
    max-height: 40px;
    gap: 24px;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--c-logo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--c-hover);
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    position: relative;
    margin: 0;
    padding: 0;
       
}



.social-accent {
   
    fill: var(--c-background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Our portfolio section*/

.portfolio-title {
    margin-bottom: 72px;
    color: var(--c-brand);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.service-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    text-align: left;
    row-gap: 48px;
    column-gap: 24px;
}

.service-block {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-block:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-image {
  
    position: relative;
    overflow: hidden;
}


.portfolio-overlay {
    position: absolute;
    top: 0;
    line-height: 1.5;
    inset: 0;
    padding: 40px 32px ;
    background-color: var(--c-logo);
    color: var(--c-background);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
}

.service-block:hover .portfolio-overlay {
    transform: translateY(0%);
}


.service-content {
    padding: 32px 16px;
    border: 1px solid var(--c-background);
    border-top: none;
}

.service-title {
    margin-bottom: 8px;
    color: var(--c-brand);
    background-color: var(--c-background-light);
    font-size: 20px;
    letter-spacing: 0.72px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.work-text,
.service-text {
    color: var(--c-primary);
    background-color: var(--c-background-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Footer*/
.footer {
    background-color: var(--c-brand);
    padding: 100px 0;
}

.footer-inner {
    display: flex;
    align-items: baseline;
    max-width: 592px;
    justify-content: space-between;
    margin-left: 156px;
    padding: 0;
}

.footer-inner-text {
    margin-right: 120px;
}


.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--c-logo);
    font-family: var(--f-family-primary), sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;

}
.web-footer {
    color: var(--c-logo);
    text-decoration: none;
}

.studio-footer {
    color: var(--c-background);
    text-decoration: none;
}

.footer-text {
    min-width: 264px;
    color: var(--c-background);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.social-text {
    color: var(--c-background-light);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-inner-social {
    padding-right: 0;
   }


.footer-icon-list {
    gap: 16px;
    display: flex;
}

.social-icon-footer {
    width: 40px;
    height: 40px;
}

.social-footer {
    width: 100%;
    height: 100%;
    background-color: var(--c-logo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer:hover,
.social-footer:focus {
    background-color: var(--c-footer-hover);
    border: 1px solid var(--c-footer-hover);
}

.social-accent-footer {
    fill: var(--c-background);
}

.footer-input {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.7;
}

.subscribe-text {
    margin-bottom: 16px;
    color: var(--c-background-light);
}

.footer-input {
    display: block;
    margin-left: 80px;
}

.footer-email {
    min-width: 264px;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid var(--c-background-light);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--c-brand);
    /* font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 0.5;
        letter-spacing: 0.48px;
        color: var(--c-background-light); */
}

.footer-email::placeholder {
        font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 0.5;
                letter-spacing: 0.48px;
                color: var(--c-background-light);
                padding-left: 16px;
}

.email-input {
    display: flex;
        max-width: 453px;
        max-height: 40px;
        padding: 0;
        gap: 24px;
}

.modal-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form {
    display: flex;
    align-items: center;
}

.subscribe-button-text {
    position: relative;
    color: var(--c-background-light);
    font-size: 16px;
        font-weight: 500;
        line-height: 0.7;
        letter-spacing: 0.64px;
}

.footer-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button {
    display: block;
    
    max-width: 156px;
    max-height: 40px;
    border-radius: 4px;
        background: var(--c-logo);
        padding: 8px 24px;
        margin: 0;
}

.footer-button-icon {
    padding: 0;
    top: 50%;
    max-width: 24px;
        max-height: 24px;
        transition: fill 250ms;
    fill: var(--c-background-light);
}


.subscribe-button-text {
    margin-right: 16px;
}

/* Modal */
.backdrop {
    position: fixed;
    inset: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.4);
    /* opacity: 1; */
    /* visibility: visible; */
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
}

.modal {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-width: 408px;
    max-height: 584px;
    background-color: var(--c-background-light);
    padding: 24px;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}

/* .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */

.modal-input {
    display: block;
    border-radius: 4px;
    width: 100%;
    max-width: 360px;
    min-height: 40px;

        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    
    margin-bottom: 4px;
}

.text-input {
    min-height: 120px;
    
}

/* @media print {
    .modal-content {
        margin-left: 38px;
    }
} */

.modal-input:focus + svg {
    fill: var(--c-logo);
}

.modal-inner {
    padding: 0;
color: var(--c-primary-light);
font-size: 12px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0.48px;
    
}

.text-input {
    resize: none;
}

.text-input::placeholder {
    color: var( rgba(46, 47, 66, 0.4));
    font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 0.9;
        letter-spacing: 0.48px;
        padding-top: 8px;
        padding-left: 16px;
}

/* .modal-toggle:checked+.backdrop {
    opacity: 1;
    visibility: visible;
} */

.icon-close {
    size: 8px 8px;
    
}




.modal-title {
    position: relative;
    max-width: 100%;
    text-align: center;
    transform: translateY(100%) ;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 16px ;
font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}



.modal-input-wrap {
    position: relative;
}

.modal-input-close {
    position: absolute;
        left: 16px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms;
        /* fill: var(--c-header);
            stroke-width: 1px;
            stroke: rgba(0, 0, 0, 0.10); */
    }

    

.modal-input-icon {
    position: absolute;
    left: 16px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms;
}

/* .modal-input-icon:focus {
    outline: none;
    border-color: var(--c-logo);
    fill: var(--c-logo);
} */


.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
}




.modal-textarea:focus,
.modal-input:focus {
    outline: none;
    border-color: var(--c-logo);
}

.checkbox-inner {
    color: var(--c-primary-light);
    font-size: 12px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0.48px;
}

.modal-checkbox {
    display: flex;
    padding: 0;
    margin-bottom: 24px;
    }

svg.modal-checkbox-icon {
    padding: 0;
    margin: 0;
}

.privacy-policy {
    text-decoration: underline;
}

.modal-button-wrap {
    display: block;
    margin-bottom: 24px;
}

.modal-button {
    max-width: 169px;
    max-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.7;
    letter-spacing: 0.64px;
    padding: 16px 32px;
}

/* END Modal */